node_modules
*~
*#
TAG*
/app/**/*-test.js
/app/**/*-test.html
/tmp
.build
/build
/doc
/app/cmd-client.js
/app/test/server-ready.js
/app/koru/polyfill/pep.js
/doc/api-client.json
/doc/api-server.json
/app/demo
