pre {
  margin: 0;
}

.page-content {
  margin: 0;
}

.jsdoc-info, abstract>div {
  max-width: 780px;
}

/* .mdl-layout__drawer { */
/*   overflow-x: auto; */
/*   width: 300px; */
/*   transform: translateX(-300px); */
/* } */

/* .mdl-layout--fixed-drawer>.mdl-layout__content { */
/*   margin-left: 300px; */
/* } */

/* @media screen and (max-width: 1024px) { */
/*   .mdl-layout--fixed-drawer>.mdl-layout__content { */
/*     margin-left: 0 !important; */
/*   } */
/* } */

#jsdoc-index {
  margin: 0 10px;
}

.jsdoc-list>* {
  display: block;
}

@media screen and (min-width: 1200px) {
  .jsdoc-module-sidebar {
    float: right;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid rgb(96, 125, 139);
  }
}

.jsdoc-module-sidebar>:first-child>:first-child {
  margin-top: 0;
}

.jsdoc-nav-module {
  opacity: .8;
  margin-bottom: 3px;
  padding-left: 5px;
  border-left: 2px solid transparent;
  white-space: nowrap;
}

.jsdoc-nav-module>nav a {
  display: none;
  margin-left: 20px;
}

.jsdoc-nav-module.jsdoc-nav-active-page>nav a {
  display: block;
}


.jsdoc-nav-module.jsdoc-nav-active-page {
  opacity: 1;
  margin-top: 1em;
  margin-bottom: 1em;
}

.jsdoc-nav-module>.jsdoc-nav-module {
  padding-left: 1em;
}

.jsdoc-nav-module:hover {
  opacity: 1;
}

.jsdoc-nav-spacer {
  visibility: hidden;
}

.jsdoc-nav-module.jsdoc-nav-active-page .jsdoc-nav-common {
  opacity: .6;
}


.jsdoc-nav-module.jsdoc-nav-active-page,
.jsdoc-active-page {
  border-color: rgb(96, 125, 139) !important;
}

.jsdoc-module {
  overflow: auto;
  margin: 0 !important;
  padding: 0 20px 20px;
  border-left: solid 5px transparent;
}

.jsdoc-module-path {
  color: rgb(96, 125, 139);
  border-top: 1px solid rgba(0,0,0,0.12);
}

.jsdoc-module-title {
  color: rgb(96, 125, 139);
  font-weight: 400;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 50px;
}

.jsdoc-module-section {
  margin: 0;
  padding: 20px;
  border-left: solid 5px transparent;
}

.jsdoc-module-section[name=constructor]>h4:first-child {
  position: relative;
  left: -20px;
}

.jsdoc-methods>h4:first-child {
  margin-bottom: 0;
}

.jsdoc-example {
  display: table;
  max-width: calc(100% - 40px);
  background: #FFFFFC;
  color: black;
  font-family: monospace;
  border: 1px solid #ddd;
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  tab-size: 2;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
}

.jsdoc-example-call {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-top: .5em;
  padding-top: .5em;
}

.jsdoc-config-item>td>div>p:last-child {
  margin-bottom: 0;
}

.jsdoc-config-item>td:first-child {
  color: rgb(124,77,255);
  font-family: monospace;
}

code {
  background-color: rgba(0,0,0,0.04);
}

.jsdoc-example-call>:first-child {
  -webkit-flex-shrink: 4;
  -ms-flex-shrink: 4;
  flex-shrink: 4;
}

.jsdoc-returns {
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
}

.jsdoc-code-block {
  border-top: 1px dashed rgba(0, 0, 0, 0.4);
}

.jsdoc-require+.jsdoc-code-block {
  border-top: none;
}

td {
  vertical-align: baseline;
  padding-right: 1em;
}

.jsdoc-require {
  margin-bottom: 1em;
}


.highlight .hll { background-color: #d6d6d6 }
.highlight  { color: #4d4d4c }
.highlight .c { color: #8e908c } /* Comment */
.highlight .err { color: #c82829 } /* Error */
.highlight .k { color: #8959a8 } /* Keyword */
.highlight .l { color: #f5871f } /* Literal */
.highlight .n { color: #4d4d4c } /* Name */
.highlight .o { color: #3e999f } /* Operator */
.highlight .p { color: #4d4d4c } /* Punctuation */
.highlight .cm { color: #8e908c } /* Comment.Multiline */
.highlight .cp { color: #8e908c } /* Comment.Preproc */
.highlight .c1 { color: #8e908c } /* Comment.Single */
.highlight .cs { color: #8e908c } /* Comment.Special */
.highlight .gd { color: #c82829 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #4d4d4c; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #718c00 } /* Generic.Inserted */
.highlight .gp { color: #8e908c; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #3e999f; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #8959a8 } /* Keyword.Constant */
.highlight .kd { color: #8959a8 } /* Keyword.Declaration */
.highlight .kn { color: #3e999f } /* Keyword.Namespace */
.highlight .kp { color: #8959a8 } /* Keyword.Pseudo */
.highlight .kr { color: #8959a8 } /* Keyword.Reserved */
.highlight .kt { color: #eab700 } /* Keyword.Type */
.highlight .ld { color: #718c00 } /* Literal.Date */
.highlight .m { color: #f5871f } /* Literal.Number */
.highlight .s { color: #718c00 } /* Literal.String */
.highlight .na { color: #4d4d4c } /* Name.Attribute */
.highlight .nb { color: #5d3d3c } /* Name.Builtin */
.highlight .nc { color: #eab700 } /* Name.Class */
.highlight .no { color: #c82829 } /* Name.Constant */
.highlight .nd { color: #3e999f } /* Name.Decorator */
.highlight .ni { color: #4d4d4c } /* Name.Entity */
.highlight .ne { color: #c82829 } /* Name.Exception */
.highlight .nf { color: #4271ae } /* Name.Function */
.highlight .nl { color: #4d4d4c } /* Name.Label */
.highlight .nn { color: #eab700 } /* Name.Namespace */
.highlight .nx { color: #4271ae } /* Name.Other */
.highlight .py { color: #4d4d4c } /* Name.Property */
.highlight .nt { color: #3e999f } /* Name.Tag */
.highlight .nv { color: #c82829 } /* Name.Variable */
.highlight .ow { color: #3e999f } /* Operator.Word */
.highlight .w { color: #4d4d4c } /* Text.Whitespace */
.highlight .mf { color: #f5871f } /* Literal.Number.Float */
.highlight .mh { color: #f5871f } /* Literal.Number.Hex */
.highlight .mi { color: #f5871f } /* Literal.Number.Integer */
.highlight .mo { color: #f5871f } /* Literal.Number.Oct */
.highlight .sb { color: #718c00 } /* Literal.String.Backtick */
.highlight .sc { color: #4d4d4c } /* Literal.String.Char */
.highlight .sd { color: #8e908c } /* Literal.String.Doc */
.highlight .s2 { color: #718c00 } /* Literal.String.Double */
.highlight .se { color: #f5871f } /* Literal.String.Escape */
.highlight .sh { color: #718c00 } /* Literal.String.Heredoc */
.highlight .si { color: #f5871f } /* Literal.String.Interpol */
.highlight .sx { color: #718c00 } /* Literal.String.Other */
.highlight .sr { color: #718c00 } /* Literal.String.Regex */
.highlight .s1 { color: #718c00 } /* Literal.String.Single */
.highlight .ss { color: #718c00 } /* Literal.String.Symbol */
.highlight .bp { color: #4d4d4c } /* Name.Builtin.Pseudo */
.highlight .vc { color: #c82829 } /* Name.Variable.Class */
.highlight .vg { color: #c82829 } /* Name.Variable.Global */
.highlight .vi { color: #c82829 } /* Name.Variable.Instance */
.highlight .il { color: #f5871f } /* Literal.Number.Integer.Long */